* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #00d2ff 0%, #a0a6ee 100%);
}

.d-flex {
  display: flex;
}

.section1 {
  background-color: #fff;
}

.section {
  width: 100%;
  padding: 7rem 0;
}

.title {
  background: -webkit-linear-gradient(rgb(78, 83, 178), rgb(87, 103, 172));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: clamp(2.5rem, 2.5vw, 4rem);
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 4rem;
  margin: 0 auto;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 280px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(154, 153, 153);
  outline: none;
  padding: 1rem;
  background: none;
}

input[type="text"]:focus {
  transition: 0.5s;
  border-bottom-color: #9cd7fe;
}

.btn {
  color: #fff;
  opacity: 0.3;
  text-align: start;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  border: none;
  border-radius: 100px;
  padding: 0.7rem 2rem;
  font-weight: 600;
  font-size: 1rem;
  background: linear-gradient(90deg, #00d2ff 0%, #a0a6ee 100%);
}

.enabled {
  cursor: pointer;
  opacity: 1;
}

.enabled:hover {
  opacity: 0.75;
}

.disabled-btns {
  margin-top: 1rem;
  flex-direction: column;
}

.btn + .btn {
  margin-top: 1rem;
}

.topics {
  list-style: none;
  width: 100%;
}

.topic {
  background-color: rgba(40, 81, 133, 0.954);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  max-width: 1200px;
  justify-content: space-between;
  color: #fff;
}

.topic + .topic {
  margin-top: 1.5rem;
}

.remove-topic {
  color: rgb(255, 85, 0);
}

.remove-topic:hover {
  opacity: 0.75;
  cursor: pointer;
}

.hide {
  display: none;
}

.back-btn {
  color: red;
  font-size: 2rem;
}

.mixed-item {
  margin-top: 2rem;
  flex-direction: column;
}

.mixed-item input {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.2rem;
  outline-color: blue;
}
